Project1/SOA/Schemas/Hell0_World.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/SOA_Training/Project1/Hell0_World"
        xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="process">
    <complexType>
      <sequence>
        <element name="bookstore">
          <complexType>
            <sequence>
              <element name="book" maxOccurs="unbounded">
                <complexType>
                  <sequence>
                    <element name="title" type="string"/>
                    <element name="author" type="string"/>
                    <element name="name" type="string"/>
                    <element name="price" type="string"/>
                    <element name="type" type="string"/>
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="processResponse">
    <complexType>
      <sequence>
        <element name="result" type="string"/>
      </sequence>
    </complexType>
  </element>
</schema>