FileAdopterCombination/SOA/Schemas/FileAdopter.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SOA_Training/FileAdopterCombination/FileAdopter"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="processRequest">
		<complexType>
			<sequence>
				<element name="Title" type="string"/>
                                <element name="Author" type="string"/>
                                <element name="Price" type="string"/>
			</sequence>
		</complexType>
	</element><element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>