ExceptionHandling/SOA/Schemas/Handling_Catch.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SOA_Training/ExceptionHandling/Handling_Catch"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="FaultName" type="string"/>
                                <element name="FaultString" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>