JMS_Consume_Sync/SOA/WSDLs/jmsService.wsdl

<wsdl:definitions
     name="jmsService"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/jms/SOA_Training/JMS_Consume_Sync/jmsService"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/jms/SOA_Training/JMS_Consume_Sync/jmsService"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:imp1="http://xmlns.oracle.com/SOA_Training/JMS_Adopter_Produ/JMS_BPELProcess1"
    >
  <plt:partnerLinkType name="Sync_Consume_Message_plt" >
    <plt:role name="Sync_Consume_Message_role" >
      <plt:portType name="tns:Sync_Consume_Message_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/jms/SOA_Training/JMS_Consume_Sync/jmsService"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/SOA_Training/JMS_Adopter_Produ/JMS_BPELProcess1" schemaLocation="../Schemas/JMS_BPELProcess1.xsd" />
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="Sync_Consume_Message_msg">
        <wsdl:part name="body" element="imp1:process"/>
    </wsdl:message>
    <wsdl:portType name="Sync_Consume_Message_ptt">
        <wsdl:operation name="Sync_Consume_Message">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:Sync_Consume_Message_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
